<style>
    .one{
        
        align-content:space-around;
        background-color:green;
        
    }
    .two{
        align-content: flex-end;
        background-color: pink;
        height: 150px

    }
    .three{
        background-color: blueviolet;
        text-align: center;
    }
    .five{
        text-align:end;
        align-content:center;
    }
</style>

<div class="one"> 
     <div class="four">
     <app-header></app-header>
    </div>
   <div class="five">
     <app-homebuttons></app-homebuttons>
    </div>
</div>
<div>
        
        <app-welcome-page></app-welcome-page>
        </div>

<router-outlet></router-outlet>